.container{
    text-align: center;
    margin: 0 auto;
    max-width: 900px;
}
.imageContainer{
    width: 100%;
}
.imageContainer img{
    max-width: 150px;
    margin-top: 20px;
}
.content{
    margin-top: 5rem;
    display: table-caption;
    width: 600px;
    margin-left: 9rem;
}
.loginForm{
    margin: 0 auto;
}

.loginForm h2{
    font-size: 30px;
    color:#696969;
}
.loginForm input{
    border: 0;
    border-bottom: 1px solid #CFCFCF;
    width: 450px;
    padding: 15px;
    text-align: center;
    margin-top: 20%;
}
.loginForm button { 
    border: 0;
    width: 450px;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    background-color: #00A65A;
    color: #fff;
    margin-top: 15%;
}
.loginForm button:hover{
    cursor: pointer;
}