<div class="container">
    <div class="imageContainer">
        <img src="../../../../assets/img/klabin-logo-1.png" alt="logoImg">
    </div>
    <div class="content">
        <div class="header">
            <button routerLink="/manutencao-page-equip">
                <mat-icon>arrow_back</mat-icon>
            </button>
            <h1>Manutenção</h1>
        </div>
        <div class="buttonsSection">
            <div class="buttonsContent">
                <button>Vídeo</button>
                <button>Foto</button>
                <button>Artigo</button>
                <button>Desenho</button>
            </div>
        </div>
        <div class="inputsFirstRow">
           <div class="input">
               <p>Código de equipamento:</p>
                <input readonly type="text">
            </div>
           <div class="input">
               <p>EPIs necessários:</p>
               <input readonly type="text">
           </div>
           <div class="input">
               <p>Possíveis repostas</p>
               <input readonly type="text">
           </div>
        </div>
        <div class="inputsSecondRow">
            <div class="multipleLineInput">
                <p>Processo de inspeção</p>
                <input readonly multiple type="text">
            </div>
             <div class="multipleLineInput">
                <p>Comentários:</p>
                <input multiple type="text">
            </div>
            
        </div>
        <div class="submitButton" >
            <button>Ok</button>
        </div>
    </div>
</div>