<div class="container">
    <div class="imageContainer">
        <img src="../../../../assets/img/klabin-logo-1.png" alt="logoImg">
    </div>
    <div class="content">
        <div class="header">
            <button routerLink="/admin-initial-page">
                <mat-icon>arrow_back</mat-icon>
            </button>
            <h1>Cadastrar Usuário</h1>
        </div>
        <div class="inputsFirstRow">
           <div class="input">
               <p>E-mail do usuário:</p>
                <input  type="text">
            </div>
           <div class="input">
               <p>Nome do usuário:</p>
               <input  type="text">
           </div>
           <div class="input">
               <p>Níveis de acesso:</p>
               <input  type="text">
           </div>
        </div>
        <div class="submitButton" >
            <button>Salvar</button>
        </div>
    </div>
</div>