<div class="container">
    <div class="imageContainer">
        <img src="../../../../assets/img/klabin-logo-1.png" alt="logoImg">
    </div>
    <div class="content">
        <div class="intialPageHeader">
            <div class="Saudation">
                <p>Olá</p>
                <p class="Name">Davi</p>
            </div>
            <div class="profileImage">
                <img src="../../../../assets/img/profilePicture.jpg" alt="Profile Picture">
            </div>
        </div>
        <div class="buttons">
            <button routerLink="/inspection-page-equip" >Inspeção</button>
            <button routerLink="/manutencao-page-equip">Manutenção</button>
            <button routerLink="/dashboardsPage">Relatórios</button>
        </div>
    </div>
</div>
