
<div class="container">
    <div class="imageContainer">
        <img src="../../../../assets/img/klabin-logo-1.png" alt="logoImg">
    </div>
    <div class="content">
        <div class="header">
            <button routerLink="/admin-initial-page">
                <mat-icon>arrow_back</mat-icon>
            </button>
            <h1>Cadastrar Inspeção:</h1>
        </div>
        <div class="buttonsSection">
            <div class="buttonsContent">
                <button>Vídeo</button>
                <button>Foto</button>
                <button>Artigo</button>
                <button>Desenho</button>
            </div>
        </div>
        <div class="inputsFirstRow">
           <div class="input">
               <p>Código de equipamento:</p>
                <input  type="text">
            </div>
           <div class="input">
               <p>EPIs necessários:</p>
               <input  type="text">
           </div>
           <div class="input">
               <p>Possíveis repostas</p>
               <input  type="text">
           </div>
           <div class="multipleLineInput">
            <p>Processo de inspeção</p>
            <input  multiple type="text">
        </div>
        </div>
        <div class="inputsSecondRow">
             <div class="input">
                <p>Aprovador 1:</p>
                <input type="text">
            </div>
            <div class="input">
                <p>Aprovador 2:</p>
                <input type="text">
            </div>
            <div class="input">
                <p>Aprovador 3:</p>
                <input type="text">
            </div>
            
        </div>
        <div class="submitButton" >
            <button>Salvar</button>
        </div>
    </div>
</div>