<div class="container">
    <div class="imageContainer">
        <img src="../../../../assets/img/klabin-logo-1.png" alt="logoImg">
    </div>
    <div class="content">
        <div class="header">
            <button routerLink="/paginaInicial">
                <mat-icon>arrow_back</mat-icon>
            </button>
            <h1>Manutenção</h1>
        </div>
    <div class="cardSection">
        <div class="card" routerLink="/manutencao-page-form">
            <div class="headerCard">
                <h3>Equipamento:</h3>
                <div class="status" >
                    <p>Realizado</p>
                </div>
            </div>
            <div class="body">
                <h2>Bobina</h2>
            </div>
                <div class="footer">
                    <p>X3G41AS4</p>
             </div>
            </div>
      
    </div>
</div>
</div>